modules = ["nodejs-18"]
run = "npm start"

[env]
NODE_ENV = "development"
NPM_INSTALL_FLAGS = "--legacy-peer-deps"

[nix]
channel = "stable-22.11"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
run = ["sh", "-c", "npm install && npm start"]
deploymentTarget = "cloudrun"
